.presentation{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $peach;
    p{
        color: $brown;
        padding: 2rem 3rem;
        font-size: 1.2rem;
    }
}